@page
@model IndexModel
@{
    ViewData["Title"] = "RazorBoatApp home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome  @Model.Name to RazorPageApp @DateTime.Now.Year</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
